.card-container {
  /* display:flex;
  flex-wrap: wrap;
  gap : 20px;
  justify-content: center;
  margin-top: 40px; */
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card{
    /* width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 40px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transfrom 0.2s;
    background-color: #fff; */
    width: 200px;
  height: 200px;
  border-radius: 90%;               /* Makes the card circular */
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

/* .card-title {
  font-size: 18px;
  margin: 10px 0 5px;

}
.card-description{
    font-size: 14px;
    color: #555;
} */
 .card-title {
  font-size: 1rem;
  margin-top: 8px;
  color: #333;
}

.card-description {
  font-size: 0.8rem;
  color: #666;
  margin-top: 4px;
}

